body{
	margin:0px;
	padding:0px;
    font-family: 'Montserrat', sans-serif;
}
header{
    height: 100px;
    width: auto;
    background-color: #ffff66;
    font-family: 'Montserrat', sans-serif;
}

.header-left a, .header-right a{
    text-decoration: none;
    color: black;
    padding: 2.5%;
}

.grid{
    display: grid;
    grid-template-columns: 35% 30% 35%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 6px;
}

.header-left{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 6px;
    
}

.logo img{
    height: 100px;
    width: 100px;
}

.header:hover{
    transform: scale(1.2);
    transition: transform .5s;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../banner/fotos/Horizon.jpg);
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
.txt{
    background-color: rgb(247, 247, 176);
    padding: 15px 32px;
    border: solid;
    border-width: 1px;
    text-align: center;
}
.contact{
    background-color: #f5f500;
    padding: 2.5%;
    text-align: center;
}
.contact button{
    font-weight: bold;
    border: solid;
    border-width: 1px;
    background-color: #f5f500;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: transform .2s;
}
button:hover{
    transform: scale(1.1);
    transition: transforms .2s;
}
.visie1, .visie2, .visie3{
    margin: 5%;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
.visie1 button, .visie2 button, .visie3 button{
    font-weight: bold;
    border: solid;
    border-width: 1px;
    background-color: white;
    padding: 7.5px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition: transform .2s;
}
.standpuntendbackground{
    background-color: rgb(247, 247, 176);
    padding: 2.5%;
}
.standpunten{
    margin: 2.5%;
}
.titelstandpunten{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}
.grid2{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.grid2 img{
    width: 20%;
    height: auto;
}
.wz h2, .zg h2, .mi h2, .vr h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wz a, .zg a, .mi a, .vr a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonstandpunten{
    background-color: rgb(247, 247, 176);
    text-align: center;
    transition: transforms .2s;
}

