body{
	margin:0px;
	padding:0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #d6ffeb;
}
header{
    height: 100px;
    width: auto;
    background-color: #66ffb3;
    font-family: 'Montserrat', sans-serif;
}

.header-left a, .header-right a{
    text-decoration: none;
    color: black;
    padding: 2.5%;
}

.grid{
    display: grid;
    grid-template-columns: 35% 30% 35%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 6px;
}

.header-left{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 6px;
    
}

.logo img{
    height: 100px;
    width: 100px;
    transition: transform .2s;
}

.header:hover{
    transform: scale(1.2);
    transition: transform .5s;
}
.titel{
    text-align: center;
    font-weight: 500;
}
.poli{
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.poli img{
    width: 25%;
    height: auto;
}
.contact{
    font-family: 'Fira Sans', sans-serif;
    background-color: #00fc7e;
    padding: 2.5%;
    text-align: center;
}
.contact button{
    font-weight: bold;
    border: solid;
    border-width: 1px;
    background-color: #00fc7e;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: transform .2s;
}
.noach button{
    border: solid;
    border-width: 1px;
    padding: 15px 32px;
    background-color: #7fff00;
    
}
.frans button{
    border: solid;
    border-width: 1px;
    padding: 15px 32px;
    background-color: #87ceeb;
    
}
.ade button{
    border: solid;
    border-width: 1px;
    padding: 15px 32px;
    background-color: #ff981a;
    
}
.yefrem button{
    border: solid;
    border-width: 1px;
    padding: 15px 32px;
    background-color: #d04949;
    
}
.jin button{
    border: solid;
    border-width: 1px;
    padding: 15px 32px;
    background-color: #00FFFF;
    
}
.seo button{
    border: solid;
    border-width: 1px;
    padding: 15px 32px;
    background-color: #aa33ff;
    
}
.aisha button{
    border: solid;
    border-width: 1px;
    padding: 15px 32px;
    background-color: #ff4dff;

}

button:hover{
    transform: scale(1.1);
    transition: transforms 0.2s;
}








