*{
    padding: 0px;
    height: 100%;
}
body{
	width: 100%;
    margin: auto;
}
header{
    height: 110px;
    width: auto;
    background-color: #80ffff;
    font-family: 'Montserrat', sans-serif;
}

.header-left a, .header-right a{
    text-decoration: none;
    color: black;
    padding: 2.5%;
}

.grid{
    display: grid;
    grid-template-columns: 35% 30% 35%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.header-right{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 10%;
}

.header-left{
    display: flex;
    justify-content: right;
    align-items: center;
    padding-top: 10%;
    
}

.logo img{
    height: 100px;
    width: 100px;
    transition: transform .2s;
}

.grid :hover{
    transform: scale(1.05);
    transition: transform .5s;
}

.titel{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}
.banner{
    background-image: url(../../banner/banner.png);
    height: 50%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.inner-banner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner-banner img{
    height: 125px;
    width: auto;
    padding-bottom: 50px;
    transition: transform .2s;
}

.inner-banner img:hover{
    transform: scale(1.1);
    transition: transfrom .5s;
}


