body{
	margin:0px;
	padding:0px;
    font-family: 'Montserrat', sans-serif;
}
header{
    height: 100px;
    width: auto;
    background-color: #80ffff;
    font-family: 'Montserrat', sans-serif;
}
.header-left a, .header-right a{
    text-decoration: none;
    color: black;
    padding: 2.5%;
}
.grid{
    display: grid;
    grid-template-columns: 35% 30% 35%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-right{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 6px;
}
.header-left{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 6px;
    
}
.logo img{
    height: 100px;
    width: 100px;
    transition: transform .2s;
}
.header:hover{
    transform: scale(1.2);
    transition: transform .5s;
}
main{
}
.banner{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color:#80d7ff;
}
.img1 img{
    width: 70%;
    height: auto;
    margin: 2%;
}
.img1{
    display: flex;
    align-items: center;
    justify-content: right;
}
.txt1{
    display: flex;
    align-items: center;
    justify-content: left;
}
button{
    font-weight: bold;
    border: solid;
    border-width: 1px;
    background-color: #80e1ff;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: transform .2s;
}
.standpunten{
    margin: 2.5%;
}
.titelstandpunten{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
}
.grid2{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.grid2 img{
    width: 20%;
    height: auto;
}
.wz h2, .zg h2, .mi h2, .vr h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wz a, .zg a, .mi a, .vr a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.onzemensen{
    background-color:#80d7ff ;
    padding: 2px;
}
.onzemensen h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5%;
}
.onzemensen h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.partlead a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.partlead img{
    width: 20%;
    height: auto;
}
.partleaddesc{
 text-align: center;
}
.rest img{
    width: 50%;
    height: auto;
}
.rest{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    
}
.een a, .twee a, .drie a{
    display:flex;
    align-items: center;
    justify-content: center;
}
.rest{
    text-align: center;
    margin-top: 2.5%;
}
.buttontxt{
    text-align: center;
    padding: 5%;
}

.contact{
    background-color: #00aeff;
    padding: 2.5%;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}
.contact button{
    font-weight: bold;
    border: solid;
    border-width: 1px;
    background-color: #00aeff;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: transform .2s;
}
button:hover{
    transform: scale(1.1);
    transition: transforms 0.2s;
}



